@use "sass:color";

$var-bg-color: rgb(115, 106, 190);
$var-main-header-color: rgb(143, 30, 128);
$var-main-text-color: #eeeeee;
$var-burger-color: rgb(115, 106, 190);
$var-title-text-color: #cecece;

$header-hover-color: mix($var-main-header-color, #660000);